.jumbotron {
    color: white;
    margin: 0 !important;
    background-color: rgb(20, 20, 20) !important;
}

.title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}