.projects-container {
    padding-top: 80px;
    background-color: rgb(20, 20, 20);
}

.title {
    color: white;
    text-align: center;
    margin-bottom: 3rem;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}